{
  "singleQuote": false,
  "semi": true,
  "printWidth": 100,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "lf",
  "doubleQuoteExample": "\"This is in double quotes\"",
  "singleQuoteExample": "'This is in single quotes'",
  "backtickExample": "`  ··  `" 
}

